<%- include('partials/navbar', { title : 'Book List'}) %>

    <h1>Book List</h1>

    <form action="/books">
        <!-- Balik ke method GET /books dengan mengirimkan request query dengan key(name)=value -->
        <label>Title :</label>
        <input 
            type="text" 
            placeholder="Type something..." 
            name="search" 
            value="<%= search %>" 
        />
        <input type="submit" value="Search" />
    </form>

    <br>
    <table border="3">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Price</th>
            <th>Category</th>
            <th>Action</th>
        </tr>
        <% for(let el of books){ %>
            <tr>
                <td><%= el.id %></td>
                <td><%= el.name %></td>
                <td><%= el.price %></td>
                <td><%= el.category.name %></td>
                <td>
                    <a href="/books/delete/<%= el.id %>"><button>Delete</button></a>
                </td>
            </tr>
        <% } %>
    </table>

<%- include('partials/footer') %>